name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          ### content
          SHOW_TITLE: true
          SECTION_NAME: waka
          BLOCKS: ▁▂▃▄▅▆▇█
          CODE_LANG: txt
          TIME_RANGE: last_7_days
          LANG_COUNT: 5
          SHOW_TIME: true
          SHOW_MASKED_TIME: true
          IGNORED_LANGUAGES: YAML JSON TOML
          ### commit
          COMMIT_MESSAGE: Update waka-readme graph with new metrics
